body {
    margin: 0;
}

#main-cont {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #CCE4E6;
    height: 100vh;
}

h1 {
    text-align: center;
    margin: 0;
}

#calculator {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: var(--calc-width);
    height: var(--calc-height);
    
    background-color: #abc5e8;

}

.view-cont {
    width: var(--calc-width);
    height: var(--view-height);
    background-color: antiquewhite;
}

.btns-cont {
    width: var(--calc-width);
    height: var(--btn-height);
    background-color: pink;
}

#footer {
    text-align: center;
}

/* Borders */
#calculator,
.view-cont,
.btns-cont,
.view-header,
.view-screen {
    border: 3px solid #9AAECB;
    border-radius: 20px;
}

/* CASIO & battery*/
.view-header {
    display: flex;
    flex: 1;
    align-items: center;
    height: var(--view-hdr-height);
}

.view-screen {
    background-color: #CFE4E1;
    height: var(--view-scrn-height);
}

#calc-name {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}